<div class="home-container">
    <h1>Bienvenido a PetConnect</h1>
    <p>
      ¡Únete a nuestra comunidad y descubre tu próxima mascota ideal! Con PetConnect, puedes explorar animales en adopción, publicar mascotas perdidas o en adopción, y conectarte fácilmente con mascotas que buscan un nuevo hogar.
    </p>
    
    <p>
      Si estás buscando adoptar o simplemente navegar entre las mascotas disponibles, estás en el lugar correcto. Regístrate para comenzar o ingresa como invitado para explorar.
    </p>
  
    <div class="options-container">
      <button class="register-btn" (click)="goToRegisterForm()">Registrarse con Formulario</button>
      <button class="google-btn" (click)="registerWithGoogle()">Registrarse con Google</button>
      <button class="guest-btn" (click)="enterAsGuest()">Ingresar como Invitado</button>
    </div>
  </div>
  