<h1>Lista de Mascotas</h1>

<!-- Barra de filtros -->
<app-filter-bar (filtersChanged)="onFiltersChanged($event)"></app-filter-bar>

<!-- Mostrar el botón de publicar mascota solo si está autenticado -->
<nav>
  <a routerLink="/create-pet">Publicar Mascota en Adopción</a>
</nav>

<!-- Mostrar mensaje si no se encontraron mascotas -->
@if (noResults) {
  <div>
    <p>No se encontraron animales que coincidan con los filtros seleccionados.</p>
  </div>
}

<!-- Mostrar la lista de mascotas filtradas -->
@if (!noResults) {
  <div class="pet-list">
    @for (pet of filteredPets; track pet) {
      <div class="pet-item" (click)="openModal(pet)">
        <img [src]="pet.image" alt="{{ pet.name }}">
        <h3>{{ pet.name }}</h3>
        <p>Raza: {{ pet.breed }}</p>
        @if (pet.description) {
          <p>Descripción: {{ pet.description }}</p>
        }
        @if (pet.status === 'adopted') {
          <p>Estado: Adoptado(a)</p>
        } @else {
          <p>Estado: En adopción</p>
        }
      </div>
    }
  </div>
}

<!-- Modal para mostrar los detalles de la mascota -->
@if (selectedPet) {
  <app-pet-detail-modal [pet]="selectedPet" (close)="closeModal()"></app-pet-detail-modal>
}
