<h1>Lista de Mascotas</h1>
<nav>
  <a routerLink="/create-pet">Publicar Mascota en Adopción </a>
</nav>
<div class="pet-list">
    @for (pet of pets; track pet) {
      <div class="pet-item">
        <img [src]="pet.image" alt="{{ pet.name }}">
        <h3>{{ pet.name }}</h3>
        <p>Raza: {{ pet.breed }}</p>
        @if (pet.description) {
          <p>Descripción: {{ pet.description }}</p>
        }
        @if (pet.status === 'adopted') {
          <p>Estado: Adoptado(a)</p>
        } @else {
          <p>Estado: En adopción</p>
        }
      </div>
    }
  </div>

<!--
  <nav>
     Mostrar el botón de "Crear Mascota" si está autenticado, caso contrario un mensaje de invitación 
    @if (isAuthenticated) {
      <a routerLink="/create-pet">Publicar Mascota en Adopción </a>
    } @else {
      <p><a routerLink="">Inicia sesión o regístrate </a>para publicar una mascota en adopción.</p>
    }
  </nav> -->