<h1>Lista de Mascotas</h1>
<div class="pet-list">
    @for (pet of pets; track pet) {
      <div class="pet-item">
        <img [src]="pet.image" alt="{{ pet.name }}">
        <h3>{{ pet.name }}</h3>
        <p>Raza: {{ pet.breed }}</p>
        @if (pet.description) {
          <p>Descripción: {{ pet.description }}</p>
        }
        @if (pet.status === 'adopted') {
          <p>Estado: Adoptado(a)</p>
        } @else {
          <p>Estado: En adopción</p>
        }
      </div>
    }
  </div>
  <nav>
    <a routerLink="/create-pet">Crear Mascota</a>
    <!-- otros enlaces -->
  </nav>