<form (ngSubmit)="onSubmit()" #createPetForm="ngForm" enctype="multipart/form-data">
  <!-- Nombre -->
  <div>
    <label for="name">Nombre</label>
    <input type="text" id="name" required [(ngModel)]="petData.name" name="name" #name="ngModel" />
    @if (name.invalid && (name.dirty || name.touched)) {
      <p>*El nombre es obligatorio.</p>
    }
  </div>

  <!-- Especie -->
  <div>
    <label for="species">Especie</label>
    <select id="species" required [(ngModel)]="petData.species" name="species" #species="ngModel">
      <option value="" disabled>Selecciona una especie</option>
      <option value="dog">Perro</option>
      <option value="cat">Gato</option>
    </select>
    @if (species.invalid && (species.dirty || species.touched)) {
      <p>*La especie es obligatoria.</p>
    }
  </div>

  <!-- Raza -->
  <div>
    <label for="breed">Raza</label>
    <input type="text" id="breed" required [(ngModel)]="petData.breed" name="breed" #breed="ngModel" />
    @if (breed.invalid && (breed.dirty || breed.touched)) {
      <p>*La raza es obligatoria.</p>
    }
  </div>

  <!-- Edad -->
  <div>
    <label for="age">Edad</label>
    <input type="number" id="age" required [(ngModel)]="petData.age" name="age" #age="ngModel" />
    @if (age.invalid && (age.dirty || age.touched)) {
      <p>*La edad es obligatoria.</p>
    }
  </div>

  <!-- Tamaño -->
  <div>
    <label for="size">Tamaño</label>
    <select id="size" required [(ngModel)]="petData.size" name="size" #size="ngModel">
      <option value="" disabled>Selecciona un tamaño</option>
      <option value="small">Pequeño</option>
      <option value="medium">Mediano</option>
      <option value="large">Grande</option>
    </select>
    @if (size.invalid && (size.dirty || size.touched)) {
      <p>*El tamaño es obligatorio.</p>
    }
  </div>

  <!-- Género -->
  <div>
    <label for="gender">Género</label>
    <select id="gender" required [(ngModel)]="petData.gender" name="gender" #gender="ngModel">
      <option value="" disabled>Selecciona un género</option>
      <option value="male">Macho</option>
      <option value="female">Hembra</option>
    </select>
    @if (gender.invalid && (gender.dirty || gender.touched)) {
      <p>*El género es obligatorio.</p>
    }
  </div>

  <!-- Descripción -->
  <div>
    <label for="description">Descripción</label>
    <textarea id="description" required [(ngModel)]="petData.description" name="description" #description="ngModel"></textarea>
    @if (description.invalid && (description.dirty || description.touched)) {
      <p>*La descripción es obligatoria.</p>
    }
  </div>

  <!-- Imagen -->
  <div>
    <label for="image">Imagen</label>
    <input type="file" id="image" (change)="onFileChange($event)" name="image" />
  </div>

  <!-- Owner ID (oculto) -->
  <input type="hidden" [(ngModel)]="petData.ownerId" name="ownerId" />

  <!-- Botón de Envío -->
  <button type="submit" [disabled]="!createPetForm.form.valid">Crear Mascota</button>
</form>
